// Styling for the footer
footer {
  margin-top:auto;
  padding: 10px 0;
  .list-inline {
    font-size: 14px;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
  .copyright {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}
