.form-login-register {
	font-family: 'Raleway';
	.msg-alert {
		font-size: 12px;
	}
	.title-form {
		margin-bottom: 20px;
	} 
	label {
		font-size: 13px;
		text-transform: uppercase;
		color: $gray-600;
		font-weight: 800;
		letter-spacing: 2px;
	}
}