// Styling for the masthead
header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  min-height: 250px;
  margin-bottom: 20px;
  background: no-repeat center center;
  background-color: $black;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  .page-heading,
  .post-heading,
  .site-heading {
    margin:auto;
    color:white;
    h1 {
      display: inline-block;
      font-size: 50px;
      margin: 0;
      padding:18px 40px;
      background-color:$black;
      text-transform: uppercase;
      position: relative;
      top: 25px;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
        position: relative;
        top: 0px;
      }
    }
  }
  .post-heading {
    h1 {
      text-align: center;
      font-size: 25px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include sans-serif-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 35px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    min-height: 350px;
    margin-bottom: 50px;
  }
}
