Options +FollowSymlinks
RewriteEngine on

RewriteRule ^([a-z]+)$ ?action=$1
RewriteRule ^posts/([0-9]+)$ ?action=post&id=$1
RewriteRule ^admin/([a-z]+)$ ?action=$1
RewriteRule ^admin/updateposts/([0-9]+)$ ?action=updatePost&id=$1 
RewriteRule ^profil/([0-9]*)$ ?action=profil&id=$1
