Options +FollowSymlinks
RewriteEngine on

RewriteRule ^([a-z]+)$ ?action=$1
RewriteRule ^posts/([0-9]+)$ ?action=post&id=$1
RewriteRule ^profil/([0-9]*)$ ?action=profil&id=$1
RewriteRule ^admin/posts$ ?action=listPost
RewriteRule ^admin/posts/add$ ?action=addPost
RewriteRule ^admin/posts/update/([0-9]+)$ ?action=updatePost&id=$1
RewriteRule ^admin/posts/delete/([0-9]+)$ ?action=deletePost&id=$1
RewriteRule ^admin/comments$ ?action=listComment
RewriteRule ^admin/comments/update/([0-9]+)$ ?action=updateComment&id=$1
RewriteRule ^admin/comments/delete/([0-9]+)$ ?action=deleteComment&id=$1
RewriteRule ^admin/users$ ?action=listUser
RewriteRule ^admin/users/delete/([0-9]+)$ ?action=deleteUser&id=$1