Options +FollowSymlinks
RewriteEngine on

RewriteRule posts ?action=posts
RewriteRule posts/([0-9]+) ?action=post&id=$1
RewriteRule contact ?action=contact
RewriteRule admin/posts ?action=listPost
RewriteRule admin/updateposts/([0-9]+) ?action=updatePost&id=$1
RewriteRule admin/comments ?action=listComment
RewriteRule admin/users ?action=listUser
RewriteRule profil/([0-9]*) ?action=profil&id=$1
